<script type="text/x-handlebars-template" id="mapsvg-edit-status-row">
  <tr class="mapsvg-edit-status-row"> <td> <input type="text" autocomplete="off" data-param="label"
  data-array="true" class="form-control mapsvg-edit-status-label" value="" /> </td> <td> <input
  type="text" autocomplete="off" data-param="value" data-array="true" class="form-control" value=""
  /> </td> <td> <div class="input-group cpicker"> <span class="input-group-text"><i></i></span>
  <input type="text" autocomplete="off" data-param="color" data-array="true" class=" form-control"
  name="colors[background]" value="" /> </div> </td> <td> <div class="btn-group"
  data-toggle="buttons"> <input type="checkbox" data-param="disabled" data-array="true"
  class="region_disable btn-check mapsvg-region-disabled" name="" data-live="change"/> <label
  class="btn btn-outline-secondary form-check-label toggle-tooltip" title="Disable" > <i class="bi
  bi-ban"></i> </label> </div> </td> </tr>
</script>