//------------------------------------------------------------------------
// Header
//------------------------------------------------------------------------
.Header {
  $selector: &;
  position: relative;
  z-index: fs-zindex('header');

  &-logo {
    &-link {
      color: $c-default;
      display: block;
      max-width: fs-rem(140px);

      @include fs-attention {
        color: mediumvioletred;
      }

      @include fs-min-width($layout-nav-bp) {
        max-width: fs-rem(200px);
      }
    }

    &-image {
      display: block;
      fill: currentColor;
      width: 100%;
    }// end image

    svg {
      display: block;
      height: auto;
      width: 100%;
    }// end img
  }// end logo

}// end Header
