//------------------------------------------------------------------------
// Base tab styles, no project-specific styles
//------------------------------------------------------------------------
// stylelint-disable no-duplicate-selectors
[data-tabs] {}

[data-tablist] {}

[data-tabpanel] {
  $speed: 250ms;
  $easing: cubic-bezier(0.25, 0, 0.65, 1);

  // The selector below allows the first tab’s content to be
  // shown before the JS has executed (see comment below).
  // .js [data-tablist] + &:not([tabindex]) {
  // 1. Required to override “hidden” attrbute so transitions will work.
  & {
    display: block;// [1]
    max-height: 100000px;// arbitrary large value since “none” can’t be transitioned
    opacity: 1;
    overflow: visible;// necessary for “position: sticky” to work
    transition: opacity $speed $easing,
                max-height 0s linear 0s,
                visibility 0s linear 0s;
    visibility: visible;
  }

  // The selector below prevents a flash of unstyled content (FOUC)
  // by hiding tab content while JS loads. It’s currently commented
  // out so if JS fails to run, the content is still accessible.
  // .js &:not([tabindex]) {
  &[hidden] {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: none;
    visibility: hidden;
  }

}// end data-tabpanel
