<script type="text/x-handlebars-template" id="mapsvg-markers-by-field-tmpl-partial">
  <tr data-option-id="{{id}}">
        <td>{{label}}</td>
        <td>
            <button class="btn btn-outline-secondary  mapsvg-marker-image-btn-trigger mapsvg-marker-image-btn"><img src="{{img}}" class="new-marker-img"/><span class="caret"></span></button>
        </td>
    </tr>
</script>