<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-remove">
  <div class="form-group mb-3 "> <button class="btn btn-outline-secondary mapsvg-remove"><i
  class="bi bi-trash"></i> Remove</button> </div>
</script>