//------------------------------------------------------------------------
// Default gallery block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/gallery/style.scss
//
// <figure class="wp-block-gallery [alignwide|alignfull] columns-[1–6] [is-cropped]">
//   <ul class="blocks-gallery-grid">
//     <li class="blocks-gallery-item">
//       <figure>
//         <img loading="lazy">
//         <figcaption class="blocks-gallery-item__caption">…</figcaption>
//       </figure>
//     </li>
//   </ul>
//   <figcaption class="blocks-gallery-caption">…</figcaption>
// </figure>
//------------------------------------------------------------------------
// 1. Override default WP styles
.wp-block-gallery {
  $bp-full: $layout-max-width-narrow-bp;

  // Override admin styles
  @if $is-admin-stylesheet {
    @at-root #{selector-append('figure', &)} {
      @include custom-block-vert-margin;
    }
  }

  .blocks-gallery {
    // Top align by default
    &-grid {
      align-items: flex-start;// [1]
    }// end grid

    // 2. Prevent items from growing when row has empty columns
    &-item {
      flex-grow: 0;// [1][2]

      figure {
        flex-wrap: wrap;// for captions
      }

      // Show image captions below images, instead of over image on hover
      &__caption {
        background: none !important;// [1]
        color: currentColor !important;// [1]
        font-size: fs-rem(16px) !important;
        line-height: 1.4;
        margin: 1em 0 !important;// [1]
        max-height: none !important;// [1]
        padding: 0 !important;// [1]
        position: static !important;// [1]
        text-align: left !important;// [1]
      }// end caption
    }// end item
  }// end blocks-gallery

  // Cropped image style fixes
  &.is-cropped {
    .blocks-gallery {
      &-grid {
        align-items: stretch;
      }

      &-item {
        figure {
          flex-direction: column;
        }

        img {
          flex-grow: 1;
          height: auto;
        }
      }// end item
    }
  }

  // Custom bottom-aligned style
  &.is-style-align-bottom {
    .blocks-gallery {
      &-grid {
        align-items: flex-end;
      }// end grid

      &-item {
        &__caption {
          order: -1;
        }
      }// end item
    }
  }

  // Custom center-aligned style
  &.is-style-align-center {
    .blocks-gallery-grid {
      align-items: center;
    }
  }

  // Custom logo grid style (centered, more margin)
  // If using, also uncomment related code in gutenberg.js
  // &.is-style-logo-grid {
  //   $bp-2-col: 320px;
  //   $bp-3-col: 480px;
  //   display: block !important;
  //
  //   &.alignfull {
  //     @include default-padding;
  //   }
  //
  //   // Use grid instead of flexbox to avoid having to remove
  //   // top/bottom margins on the first/last row of items.
  //   // https://css-tricks.com/snippets/css/complete-guide-grid/#fluid-columns-snippet
  //   // https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/
  //   .blocks-gallery {
  //     &-grid {
  //       @include fs-scale(grid-gap, (375px: 30px, $bp-full: 56px));
  //       align-items: center;
  //       display: grid;
  //       grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  //       justify-content: space-around;
  //
  //       @include fs-min-width(768px) {
  //         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //       }
  //
  //       @include fs-min-width($bp-full) {
  //         grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  //       }
  //     }// end grid
  //
  //     &-item {
  //       margin: 0 !important;
  //       width: 100% !important;
  //     }// end item
  //   }// end blocks-gallery
  //
  //   // Column number overrides
  //   // Note: We’re not allowing 1-col layouts, and 3-col
  //   //       is the default, which must remain fluid.
  //   &.columns {
  //     @each $i in (2, 4, 5, 6, 7, 8) {
  //       &-#{$i} {
  //         .blocks-gallery-grid {
  //           grid-template-columns: repeat($i, 1fr);
  //         }
  //       }
  //     }
  //   }
  // }// end is-style-logo-grid


  img {
    margin-left: auto;
    margin-right: auto;
  }

  // Gallery caption
  .blocks-gallery-caption {
    @include caption;
    margin-left: auto;
    margin-right: auto;
    max-width: fs-rem($layout-max-width-narrow);
    text-align: center;
  }// end blocks-gallery-caption
}// end wp-block-gallery
