//------------------------------------------------------------------------
// Default pulquote block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/pullquote/style.scss
//
// <figure class="wp-block-pullquote is-style-default">
//   <blockquote>
//     <p>…</p>
//     <cite>…</cite>
//   </blockquote>
// </figure>
//------------------------------------------------------------------------
//
// NOTE: If no separate pullquote style, apply to both blocks in _wp-block-quote.scss
//
// 1. Reset default WP styles
.wp-block-pullquote {
  padding-bottom: 0;// [1]
  padding-top: 0;// [1]
  text-align: left;// [1]

  @if $is-admin-stylesheet {
    border: 0;// [1]
  }

  // Use custom margin instead of adding “l-block” via gutenberg.js
  &:not(:first-child) {
    margin-top: 3em;
  }

  &:not(:last-child) {
    margin-bottom: 3em;
  }

  blockquote {
    @if $is-admin-stylesheet {
      margin: 0;// [1]
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 0.5em;
    }
  }

  // Note: In Gutenberg editor, the <cite> tag is replaced with a <div>
  //       so we have to add these extra classes.
  cite,
  &__citation {
    @if $is-admin-stylesheet {
      text-transform: none !important;
    }
  }

}// end wp-block-pullquote
