//------------------------------------------------------------------------
// Default quote block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/quote/style.scss
//
// <blockquote class="wp-block-quote">
//   <p>…</p>
//   <cite>…</cite>
// </blockquote>
//------------------------------------------------------------------------
//
// NOTE: If no separate pullquote styles, apply styles to both selectors here.
// .wp-block-quote.wp-block-quote,
// .wp-block-pullquote.wp-block-pullquote {…}
//
// Duplicate the selector to override the admin styles without “!important”
.wp-block-quote.wp-block-quote {
  @if $is-admin-stylesheet {
    border-left: 0;
  }

  // Use custom margin instead of adding “l-block” via gutenberg.js
  &:not(:first-child) {
    margin-top: 3em;
  }

  &:not(:last-child) {
    margin-bottom: 3em;
  }

  // Notes on “quote” property
  // https://css-tricks.com/almanac/properties/q/quotes/
  p {
    quotes: "“" "”";

    &:not(:first-child) {
      margin-top: 0.5em;
    }

    &:first-child {
      &:before {
        content: open-quote;
        line-height: 1;
      }
    }

    &:last-of-type {
      &:after {
        content: close-quote;
      }
    }
  }// end p

  // Alternate style without quotes (see gutenberg.js)
  &.is-style-no-quotes {
    p {
      quotes: none;

      &:before,
      &:after {
        display: none;
      }
    }
  }

  // Note: In Gutenberg editor, the <cite> tag is replaced with a <div>
  //       so we have to add these extra classes.
  cite,
  &__citation {
    display: block;

    @if $is-admin-stylesheet {
      text-transform: none !important;
    }
  }
}// end wp-block-quote
