//------------------------------------------------------------------------
// Default image block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/image/style.scss
//
// Markup _without_ left/right/center alignment:
//
// <figure class="wp-block-image [alignwide|alignfull] size-[full|large|medium|thumbnail]">
//   <img>
//   <figcaption>Caption</figcaption>
// </figure>
//
// Markup _with_ left/right/center alignment:
//
// <div class="wp-block-image">
//   <figure class="[aligncenter|alignleft|alignright] size-[full|large|medium|thumbnail] [is-resized]">
//     <img>
//     <figcaption>Caption</figcaption>
//   </figure>
// </div>
//------------------------------------------------------------------------
.wp-block-image {
  $bp-align: 600px;
  $float-horz-margin: 50px;
  // Uncomment vars below to allow images to shift outside of content well
  // $bp-outset-start: $layout-max-width-narrow-bp;
  // $bp-outset-end: $layout-max-width-bp + ($layout-padding-max * 2);
  // $outset: ($layout-max-width-bp - $layout-max-width-narrow) / 2;
  @include block-vert-margin;

  img {
    display: block;
  }

  // Optional: Custom image block style to apply max-height (class added via gutenberg.js)
  // &.is-style-max-height {
  //   img {
  //     @supports (object-fit: cover) {
  //       max-height: #{"max(540px, 90vh)"};
  //       object-fit: cover;
  //     }
  //   }
  // }

  figcaption {
    @include caption;
    margin-bottom: 0;
    margin-top: fs-em(36px, $body-copy-max-size);
    text-align: center;
  }

  &.alignwide,
  &.alignfull,
  [data-align="wide"] &,
  [data-align="full"] & {
    img {
      width: 100%;
    }

    figcaption {
      margin-left: auto;
      margin-right: auto;
      max-width: fs-rem($layout-max-width-narrow);
    }
  }

  .alignleft,
  .alignright,
  .aligncenter,
  [data-align="left"] &,
  [data-align="right"] &,
  [data-align="center"] &, {
    figcaption {
      text-align: left;
    }
  }

  // 1. !important required to override admin styles
  .alignleft,
  .alignright,
  [data-align="left"] &,
  [data-align="right"] & {
    margin-bottom: 1em !important;// [1]
    margin-top: fs-em(8px, $body-copy-max-size) !important;// [1]

    @include fs-max-width($bp-align - 1px) {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .alignleft,
  [data-align="left"] & {
    // Uncomment to allow images to shift outside of content well
    // @include fs-scale(margin-left, ($bp-outset-start: 0, $bp-outset-end: -$outset), $initial: false);

    @include fs-min-width($bp-align) {
      clear: left;
      margin-right: fs-em($float-horz-margin, $body-copy-max-size);
    }
  }

  .alignright,
  [data-align="right"] & {
    // Uncomment to allow images to shift outside of content well
    // @include fs-scale(margin-right, ($bp-outset-start: 0, $bp-outset-end: -$outset), $initial: false);

    @include fs-min-width($bp-align) {
      clear: right;
      margin-left: fs-em($float-horz-margin, $body-copy-max-size);
    }
  }
}// end wp-block-image
