//------------------------------------------------------------------------
// Default button block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/buttons/style.scss
//
// Example markup:
// <div class="wp-block-buttons is-content-justification-[left|center|right|space-between]">
//   <div class="wp-block-button">
//     <a class="wp-block-button__link" href="/">Button Example</a>
//   </div>
// </div>
//
// Note: WP 5.7 and before uses different alignment classes:
// <div class="wp-block-buttons [alignleft|aligncenter|alignright]">
//------------------------------------------------------------------------
// Button wrapper
// 1. Use margin for now until browser support is better
// https://caniuse.com/mdn-css_properties_column-gap_flex_context
.wp-block-buttons {
  $gutter: 30px;
  $vert-margin: 1.5em;
  column-gap: 0 !important;// [1]
  margin-bottom: $vert-margin;
  margin-left: fs-rem(-$gutter);
  margin-top: -$vert-margin;

  .wp-block-button {
    margin: $vert-margin 0 0 fs-rem($gutter) !important;
  }
}

// Button
// Note: We’re duplicating the button selector to increase the specificty
//       in order to override the default block styles, since the button
//       mixins don’t currently support “!important”.
.wp-block-button.wp-block-button {
  .wp-block-button__link {
    @include button-base;
  }

  &:not(.is-style-outline) {
    .wp-block-button__link {
      @include button-solid;
    }
  }

  &.is-style-outline {
    .wp-block-button__link {
      @include button-border;
    }
  }
}// end wp-block-button
