//------------------------------------------------------------------------
// Default column block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/columns/style.scss
//
// NOTE: We’re adding “l-block” class to the columns wrapper,
//       and “u-richtext” to each column wrapper (see gurenberg.js)
//------------------------------------------------------------------------
.wp-block-columns {
  margin-bottom: fs-rem($layout-block-column-vert-margin) !important;// override WP admin styles

  @if not $is-admin-stylesheet {
    margin-top: fs-rem(-$layout-block-column-vert-margin);
  }

  &.alignfull,
  [data-align="full"] & {
    @include default-padding;
  }

  // Add outlines in admin to highlight columns
  @if $is-admin-stylesheet {
    outline: 1px solid #fff;
    transition: outline 150ms ease-in-out;

    .wp-block-column {
      outline: 1px dotted #fff;
      transition: outline 150ms ease-in-out;
    }

    &:hover,
    &:focus-within,
    &.has-child-selected {
      outline-color: #ccc;

      .wp-block-column {
        outline-color: #ccc;
      }
    }
  }
}// end wp-block-columns

.wp-block-column {
  margin-top: fs-rem($layout-block-column-vert-margin);

  // This is a custom block style defined in gutenberg.js
  // Additional style updates may be required for this to work
  // with each individual block.
  .is-style-equal-height & > * {
    height: 100%;

    @if $is-admin-stylesheet {
      height: auto;
    }
  }

  .l-block {
    &:first-child {
      margin-top: 0 !important;
    }

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}// end wp-block-column
