//------------------------------------------------------------------------
// Default cover block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/cover/style.scss
//
// NOTE: We’re adding “l-block” class to the wrapper (see gutenberg.js)
//------------------------------------------------------------------------
.wp-block-cover {
  $bp-align: $layout-max-width-narrow-bp;
  $gutter: 44px;
  $padding-end: 40px;

  @include fs-max-width($bp-align - 1px) {
    min-height: 0 !important;// disable custom height in narrow viewport
    max-width: none !important;// override WP style

    // Make all cover blocks full width in mobile view
    // Note: layout-fullwidth() breaks “background-attachment: fixed”
    //       so ignore “fixed background” blocks (.has-parallax).
    //       FYI it breaks due to negative left offset and translateX.
    &:not(.has-parallax) {
      @include layout-fullwidth($important: true);
    }
  }

  // Disable parallax if full width (see comment above)
  &.alignfull,
  [data-align="full"] & {
    background-attachment: inherit;
  }

  // Disable parallax once layout-wide() reaches breakpoint (see comment above)
  &.alignwide,
  [data-align="wide"] & {
    @include fs-min-width($layout-max-width-narrow-bp) {
      background-attachment: inherit;
    }
  }

  @include fs-min-width($bp-align) {
    &.alignleft,
    &.alignright,
    [data-align="left"] &,
    [data-align="right"] & {
      margin-bottom: 1em;// override l-block styles
      margin-top: fs-em(8px, $body-copy-max-size) !important;// override l-block styles
      max-width: none !important;
      width: 50%;
    }

    &.alignleft,
    [data-align="left"] & {
      float: left;
      margin-right: fs-rem($gutter);
    }

    &.alignright,
    [data-align="right"] & {
      float: right;
      margin-left: fs-rem($gutter);
    }

    &.aligncenter,
    [data-align="center"] & {
      margin-left: auto;
      margin-right: auto;
    }
  }

  // 1. Disable custom color support
  // Note: We’re adding “u-richtext” class to this wrapper
  //      (see add_filter('render_block') in setup.php)
  &__inner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: fs-rem($layout-max-width-narrow);
    @include default-padding;
    padding-bottom: fs-rem($padding-end);
    padding-top: fs-rem($padding-end);

    @include fs-min-width($bp-align) {
      padding: fs-rem($padding-end);
    }

    .alignleft &,
    .alignright & {
      @include fs-scale(font-size, (
        375px: $body-copy-min-size,
        $bp-align: ($body-copy-max-size $body-copy-min-size),
        $layout-max-width-bp: $body-copy-max-size
      ));
    }

    // Cover block title field
    & > .has-large-font-size {
      @include h3;
      color: inherit;// [1]
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: inherit;// [1]
    }
  }
}
