//------------------------------------------------------------------------
// Default media text block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/media-text/style.scss
//
// NOTE: We’re adding “l-block” class to the wrapper (see gutenberg.js)
//------------------------------------------------------------------------
.wp-block-media-text {
  $selector: &;
  // Note: $break-small is a Gutenberg breakpoint (see _layout-vars.scss)
  //       It’s used for max-width media queries so we must add 1px.
  $bp-row: $break-small + 1px;
  $image-width-percentage: 40%;// excludes full-width blocks

  @include fs-min-width($bp-row) {
    grid-template-columns: $image-width-percentage 1fr;

    // Right-aligned image
    &.has-media-on-the-right {
      grid-template-columns: 1fr $image-width-percentage;
    }
  }

  // Full-width block should use 50% image width in wide viewports
  @include fs-min-width(900px) {
    &.alignfull {
      grid-template-columns: 50% 1fr;

      &.has-media-on-the-right {
        grid-template-columns: 1fr 50%;
      }
    }
  }

  // Note: Due to specificity issues with default WP styles,
  //       we need to apply custom horz padding using :not()
  &:not(.alignfull) {
    #{$selector}__content {
      @include fs-max-width($bp-row - 1px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  // Note: We’re adding “u-richtext” class to this wrapper
  //      (see add_filter('render_block') in setup.php)
  &__content {
    @include fs-scale(font-size, (
      375px: $body-copy-min-size,
      $bp-row: ($body-copy-max-size $body-copy-min-size),
      $layout-max-width-narrow-bp: $body-copy-max-size
    ));

    .alignwide &,
    .alignfull & {
      @include fs-scale(font-size, (
        375px: $body-copy-min-size,
        $bp-row: ($body-copy-max-size $body-copy-min-size),
        $layout-max-width-bp: $body-copy-max-size
      ));
    }

    @include fs-max-width($bp-row - 1px) {
      .alignfull & {
        @include default-padding;
      }
    }

    .has-large-font-size {
      @include h3;
      color: inherit;// disable custom colors
      margin-bottom: 1rem;
      margin-top: 1rem;

      @include fs-min-width($bp-row) {
        margin-top: 0 !important;
      }
    }

    // Disable custom background color support
    .has-background {
      background-color: inherit;
      padding: 0;
    }
  }// end content
}// end wp-block-media-text
