//------------------------------------------------------------------------
// Default preformatted block style overrides
// https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/preformatted/style.scss
//
// <pre class="wp-block-preformatted">…</pre>
//------------------------------------------------------------------------
.wp-block-preformatted {
  @include block-vert-margin;
  font-family: $monospace; // override CSS reset styles
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;

  // Reset styles coming from the ACF Extended plugin
  @if $is-admin-stylesheet {
    background-color: transparent;
    border: 0;
    padding: 0;
  }
}
