<script type="text/x-handlebars-template" id="mapsvg-filters-tmpl-modal-view">
  <div class="form-group mb-3 row mapsvg-show-filters">
        <button class="btn btn-outline-secondary  mapsvg-btn-show-filters">{{showButtonText}}</button>
    </div>
</script>