<script type="text/x-handlebars-template" id="mapsvg-edit-distance-row">
    <tr class="mapsvg-edit-distance-row">
        <td>
            <input type="text" autocomplete="off" data-param="value" data-array="true"  class="form-control mapsvg-edit-distance-value" />
        </td>
        <td>
            <input class="form-check-input" type="radio" data-param="default" data-array="true" name="options_default" />
        </td>
    </tr>
</script>