<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-save-view">
    <div class="form-group mb-3 row">
        <div class="col-sm-3 col-form-label"></div>
        <div class="col-sm-9">
            <button class="btn btn-outline-secondary  btn-save">OK&nbsp;<span class="mapsvg-hotkey-mac">⌘↵</span><span class="mapsvg-hotkey-others">Ctrl+↵</span></button>
            <button class="btn btn-outline-secondary  mapsvg-close" >Close <span class="mapsvg-hotkey">Esc</span></button>
        </div>
    </div>
</script>