<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-title-control">
  <div class="form-group mb-3 "> <label class="form-label">Label</label> <input type="text"
  class="form-control" name="label" value="{{label}}" autocomplete="off" /> </div> <div
  class="form-group mb-3 "> <label id="hz" class="form-label">Name</label> <input type="text"
  class="form-control" disabled="disabled" name="name" value="{{name}}" autocomplete="off" /> </div>
  <div class="form-group mb-3 "> <label class="form-label">Help</label> <textarea
  class="form-control" name="help">{{help}}</textarea> </div> <div class="form-group mb-3 "> <label
  class="col-form-label">Searchable</label> <div class="form-switch form-switch-md"> <input
  type="checkbox" class="form-check-input" name="searchable"
  {{#if searchable}}checked{{/if}}
  /> </div> <p class="form-text">Choose if you want to perform a + text search on this field.</p>
  </div> <div class="form-group mb-3 "> <label class="col-form-label">Search type</label> <div> <div
  class="btn-group" data-toggle="buttons" id="mapsvg-map-mode-2"> <input
  id="mapsvg-map-mode-2-fulltext" type="radio" class="btn-check" name="searchType" value="fulltext"
  autocomplete="off"
  {{#ifeq searchType "fulltext"}}checked{{/ifeq}}> <label for="mapsvg-map-mode-2-fulltext"
  class="btn btn-outline-secondary
  {{#ifeq searchType "fulltext"}}active{{/ifeq}}" data-mode="preview"> Fulltext </label> <input
  id="mapsvg-map-mode-2-exactMatch" type="radio" class="btn-check" name="searchType" value="exact"
  autocomplete="off"
  {{#ifeq searchType "exact"}}checked{{/ifeq}}> <label for="mapsvg-map-mode-2-exactMatch" class="btn
  btn-outline-secondary
  {{#ifeq searchType "exact"}}active{{/ifeq}}" data-mode="draw"> Exact match = </label> <input
  id="mapsvg-map-mode-2-like" type="radio" class="btn-check" name="searchType" value="like"
  autocomplete="off"
  {{#ifeq searchType "like"}}checked{{/ifeq}}> <label for="mapsvg-map-mode-2-like" class="btn
  btn-outline-secondary
  {{#ifeq searchType "like"}}active{{/ifeq}}" data-mode="draw"> LIKE '...%' </label> </div> </div>
  </div> <div class="form-group mb-3 "> <button class="btn btn-outline-secondary mapsvg-remove"><i
  class="bi bi-trash"></i> Remove</button> </div>

</script>