//------------------------------------------------------------------------
// Styles for custom headings and labels used throughout the project.
//
// Each of these should also be turned into a helper class in _font-helpers.scss
//
// For rich text heading styles (e.g. h2–h6), see _rich-text-headings.scss
//------------------------------------------------------------------------
@mixin text-size-scale($min: $body-copy-min-size, $max: $body-copy-max-size) {
  @include fs-scale(font-size, (375px: $min, $layout-text-scale-end-bp: $max));
}

// FIXME
@mixin post-title() {
  @include fs-scale(font-size, (375px: 28px, 1100px: 42px));
  font-weight: bold;
  line-height: 1.2;
}

// Optional intro text style
// Note: This can be applied as a custom paragraph block style (see gutenberg.js).
//       If so, search for “@include intro-text” and uncomment the styles.
@mixin intro-text() {
  @include fs-scale(font-size, (375px: 26px, $layout-text-scale-end-bp: 32px));
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 2em;
  }
}

// Optional image caption styles
@mixin caption() {
  @include fs-scale(font-size, (375px: 14px, 900px: 18px));
  color: $c-default;
  line-height: 1.55;
}
