//------------------------------------------------------------------------
// Input styles (see _form-vars.scss)
//
// sass-lint:disable no-important
//------------------------------------------------------------------------
@mixin input-reset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

@mixin input-default {
  @include fs-scale(font-size, (375px: 18px, 900px: 21px));
  background-color: $bg-default;
  border: 1px solid $input-border-color;
  color: $c-default;
  padding: $input-padding;

  // 1. iOS Safari fix
  // https://stackoverflow.com/a/22657686/673457
  &::placeholder {
    color: #767676;
    line-height: normal !important;// [1]
  }

  &:disabled {
    background-color: $input-disabled-background;
    border-color: $input-disabled-border;
    color: $input-disabled-color;
    cursor: not-allowed !important;
  }
}

// Example search field styles (see search-header.blade.php for markup example)
// Note: Mixin must be applied to input wrapper
@mixin search-field($height: 45px) {
  $border-radius: 500px;// arbitrary large number
  $submit-width: 58px;
  display: flex;
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  height: fs-rem($height);

  &:focus-within {
    border-color: $input-border-color-focus;
  }

  &-input {
    @include input-reset;
    background-color: $bg-default;
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
    flex-grow: 1;
    padding-left: fs-rem(20px);
    padding-right: fs-rem(10px);
  }// end input

  &-submit {
    --icon-color: mediumvioletred;
    @include fs-reset-button;
    align-items: center;
    background-color: $bg-default;
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    transition: background-color 150ms ease;
    width: $submit-width;

    @include button-attention {
      --icon-color: #fff;
      background-color: mediumvioletred;
    }
  }// end submit
}
