// -------------------------------------------------------------------------
// Link Styles
// -------------------------------------------------------------------------
// Base link styles, excluding color
@mixin link-base {
  transition: color 150ms ease-in-out;

  @include fs-all-states {
    text-decoration: none;
  }

  // Optional: Only uncomment if adding dark-mode support to entire site
  // @media (prefers-color-scheme: dark) {
  //   @include fs-all-states {
  //     color: currentColor !important;
  //   }
  // }
}

// FIXME: Name mixin based on style
@mixin link-fixme($color: mediumvioletred) {
  @include fs-all-states {
    // Optional: Use CSS var to make it easier to override colors
    color: var(--link-color, $color);
    text-decoration: underline;

    // Inherit custom block text color
    .has-text-color & {
      color: currentColor;
    }
  }

  // Optional: Customize the text-decoration style
  // @supports (text-decoration-thickness: 1px) {
  //   text-decoration-color: currentColor;
  //   text-decoration-line: underline;
  //   text-decoration-thickness: 2px;
  //   text-underline-offset: 4px;
  // }

  @include fs-attention {
    text-decoration: none;
  }
}

// Custom named link styles
//---------------------------------
@mixin link-richtext() {
  @include link-base;
  @include link-fixme;
}
