//------------------------------------------------------------------------
// Custom select styles
//------------------------------------------------------------------------
@mixin select {
  $border-width: 1px;
  $border-radius: $input-border-radius;
  $top-padding: 12px;
  $bottom-padding: 11px;
  $icon-width: 13px;
  $icon-margin: 15px;
  appearance: none;
  background-color: transparent;
  background-image: fs-svg-url('chevDown', (fill: $bg-navy));
  background-position: right $icon-margin top 50%;
  background-repeat: no-repeat;
  background-size: $icon-width auto;
  border: $border-width solid $input-border-color;
  border-radius: $border-radius;
  color: currentColor;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.2;
  padding: fs-rem($top-padding (13px + $icon-width + $icon-margin) $bottom-padding 10px);
  position: relative;
  transition: all 150ms ease-in-out;
  width: 100%;
  z-index: 2;

  @include button-attention {
    border-color: mediumvioletred;
  }

  &:disabled {
    color: $input-disabled-border;
    cursor: not-allowed;
  }

  // Use mixin to allow class namespace in gutenberg.scss
  @include selector-after-root('.is-style-bg-dark') {
    background-color: transparent;
    border-color: currentColor;
    color: #fff;

    @include button-attention {
      text-decoration: underline;
    }

    &:disabled {
      color: $input-disabled-color;
    }
  }

  // Hide native UI in IE 10
  &::-ms-expand {
    opacity: 0;
    visibility: hidden;
  }

  // Firefox requires adding padding back to option elements (removed by CSS reset)
  optgroup {
    padding-left: fs-rem(10px);
  }

  option {
    padding: fs-rem(2px 15px);
  }

  // Error styles
  &.is-invalid {
    border-color: $input-error-color;
  }
}
