// -------------------------------------------------------------------------
// Base Styles
// -------------------------------------------------------------------------
// 1. Set bg color on html instead of body to ensure it always fills the page
//    http://css-tricks.com/just-one-of-those-weird-things-about-css-background-on-body/
// 2. Ensure footer sticks to bottom on short pages
//    https://css-tricks.com/couple-takes-sticky-footer/#there-is-flexbox
// 3. Use native smooth scroll (no support in Safari or iOS Safari)
//    https://caniuse.com/#feat=css-scroll-behavior
html {
  background-color: $bg-default;// [1]
  color: $c-default;
  scroll-behavior: smooth;// [3]

  @if not $is-admin-stylesheet {
    height: 100%;// [2]
    overflow: visible;// [2] override CSS reset
  }

  // Diable smooth scrolling if user has enabled “reduce motion” in their browser/OS
  // https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion#user_preferences
  // stylelint-disable media-feature-name-no-unknown
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto !important;
  }

  // This will disable smooth scroll when using the browser’s find-on-page functionality,
  // but it also requires jump link targets be focusble (e.g. headings need tabindex="-1")
  // https://css-tricks.com/fixing-smooth-scrolling-with-find-on-page/
  // &:focus-within {
  //   scroll-behavior: smooth;
  // }

  // Support iOS accessibility text size
  // Note: Only apply on iOS due to bug with Safari 14 on Big Sur
  // https://webkit.org/blog/3709/using-the-system-font-in-web-content/
  // https://www.interactiveaccessibility.com/blog/text-resizing-web-pages-ios-using-dynamic-type
  // https://dev.to/colingourlay/how-to-support-apple-s-dynamic-text-in-your-web-content-with-css-40c0
  // https://gist.github.com/colingourlay/d95908ec5cd4854c7a5afa06f3989479
  // stylelint-disable font-family-no-missing-generic-family-keyword
  &.ua-ios {
    @supports (font: -apple-system-body) {
      font: -apple-system-body;
    }
  }

  // Allow long words to wrap
  @include fs-media((max-width: 319px)) {
    @include fs-break-word;
  }

  // Prevent page from scrolling (required by freeze-scroll.js)
  // sass-lint:disable no-important
  // scss-lint:disable ImportantRule
  &.js-no-scroll {
    height: 100% !important;

    body {
      height: 100%; // don’t add !important, will be overridden by inline styles
      overflow: hidden !important;
      position: fixed !important;
      width: 100% !important;
    }
  }
}

// 3. Set font-family on body since we’re applying “-apple-system-body” on html element
// 4. Prevent horizontal scrolling (e.g. if authors include a large fixed-width embed)
//    Remove if using “position: sticky” since they’re incompatible
// stylelint-disable no-descending-specificity
body {
  @if not $is-admin-stylesheet {
    display: flex;
    flex-direction: column;
    font-family: $body-copy-font;// [3]
    height: 100%;// [2]
    hyphens: none;
    overflow-x: hidden; // [4]
  }
}

header {
  @if not $is-admin-stylesheet {
    flex-shrink: 0;// [2]
  }
}

main {
  @if not $is-admin-stylesheet {
    flex-grow: 1;// [2]
    flex-shrink: 0;// [2]
  }
}

// Opinionated global styles not included in CSS reset
a {
  @include link-base;
}

// SVGs without a class or inline “fill” attribute should
// inherit fill color, in additional to external link icons.
svg:not([fill]):not([class]),
.icon-external {
  fill: currentColor;
}

// Prevent zoom on iOS (requires adding "ios" class to <html>)
// http://www.456bereastreet.com/archive/201212/ios_webkit_browsers_and_auto-zooming_form_controls/
// sass-lint:disable no-important
// scss-lint:disable ImportantRule
.ua-ios {
  input,
  textarea,
  select {
    // Use max() to make it possible to override in component styles
    @supports (font-size: #{"max(1em, 16px)"}) {
      font-size: #{"max(1em, 16px)"};
    }
  }
}

// Disable animations accessibly for users requesting reduced motion,
// as well as devices with a slow refresh rate.
// NOTE: Not all animations are bad, some may need to override this.
// https://web.dev/prefers-reduced-motion/
// https://piccalil.li/blog/a-modern-css-reset
// https://css-tricks.com/revisiting-prefers-reduced-motion-the-reduced-motion-media-query/
// https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion
// https://developer.mozilla.org/en-US/docs/Web/CSS/@media/update-frequency
// @media screen and (prefers-reduced-motion: reduce), (update: slow) {
//   *,
//   ::before,
//   ::after {
//     animation-delay: -1ms !important;
//     animation-duration: 1ms !important;
//     animation-iteration-count: 1 !important;
//     background-attachment: initial !important;
//     scroll-behavior: auto !important;
//     // transition-duration: 0s !important;// this breaks SVGs from sprites in Edge
//     transition-delay: 0s !important;
//   }
// }

// -------------------------------------------------------------------------
// Remove text-shadow in selection highlight : http://h5bp.com/i
// -------------------------------------------------------------------------
// ::selection {
//   background-color: $some-custom-color;
//   text-shadow: none;
// }

//------------------------------------------------------------------------
// Hide outlines on focused elements using “what-input” JS plugin
//------------------------------------------------------------------------
[data-whatintent="mouse"],
[data-whatintent="touch"] {
  *:focus {
    outline: none;
  }
}

//------------------------------------------------------------------------
// Pantheon HUD plugin admin bar fixes
//------------------------------------------------------------------------
#wp-admin-bar-pantheon-hud > .ab-item {
  align-items: center !important;
  display: flex !important;

  img {
    height: auto !important;
    margin-top: 0 !important;
    width: fs-rem(26px) !important;
  }
}
