// -------------------------------------------------------------------------
// Color variables
//
// Use variable names that describe the color. Avoid additional abstraction
// unless absolutely necessary (e.g. themeing)
// http://bensmithett.com/stop-using-so-many-sass-variables/
//
// Can’t think of another name for a similar color? Try this site:
// http://chir.ag/projects/name-that-color/
//
// Note: We’re using the “postcss-custom-properties” plugin to add
//       fallbacks for browsers that don’t support CSS vars.
//       https://caniuse.com/css-variables
// -------------------------------------------------------------------------

// Background colors
//---------------------------------
$bg-offwhite: #f0f0f0;
$bg-yellow: yellow;

// Text colors
//---------------------------------
$c-light-gray: #767676;
$c-red: #eb0c00;

// Default colors
//----------------------------
$bg-default: #fff;
$c-default: #000;

// Default block colors
// Required by _block-color-helpers.scss and _layout-helpers.scss
//---------------------------------
$block-colors: (
  'yellow': $bg-yellow
);
