//------------------------------------------------------------------------
// Form vars
//
// Used by _input-mixins.scss
//------------------------------------------------------------------------
$button-border-radius: 5px;
$button-padding-horz: 20px;
$button-padding-vert: 12px;
$checkbox-border-width: 2px;
$checkbox-width: 20px;
$input-border-color: #ccc;
$input-border-color-focus: mediumvioletred;
$input-border: 1px solid $input-border-color;
$input-border-radius: 4px;
$input-disabled-background: $bg-offwhite;
$input-disabled-border: #ccc;
$input-disabled-color: $c-default;
$input-error-color: $c-red;
$input-padding-horz: 14px;
$input-padding: fs-rem(12px $input-padding-horz 13px);
