<script type="text/x-handlebars-template" id="mapsvg-data-tmpl-empty-view">
  <div class="form-group mb-3 row" style="margin: 20px;"> <p class="form-text">You can add custom
  fields into regions by clicking on <span class="label label-default" style="font-size: 14px;"><i
  class="bi bi-pencil"></i></span> <i>Edit fields</i> icon in the toolbar.</p> <button class="btn
  btn-outline-secondary btn-close">Close</button> </div>
</script>